<!--Start Banner-->
<section class="app-banner" id="home">
    <!--Start Header-->
    <app-haccp-header></app-haccp-header>
    <!--End Header-->
</section>
<!--Start Inner Page Banner-->
<app-haccp-modules-banner [title]="'Workflow Management'"></app-haccp-modules-banner>
<!--End Inner Page Banner-->

<section class="pageContent vs-container">
  <app-haccp-module-internal-list [moduleID]="'5'"></app-haccp-module-internal-list>

    <div class="mgtContentRow">
        <div class="mgtContent-left">
            <div class="mgtContentVideo">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/_xWhEdcKsYU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="mgtContentText">
                <p>The Workflow Management module allows workflows to be defined and automatically activated based on different types of action, e.g. a corrective or preventive action or non-conformity.</p>
                <p>It works by allowing a process to be defined and each stage within that process can be ‘programmed’ to prompt team members to carry out important activities. For example, a customer complaint action might raise one or more tasks, require a risk assessment or require a form to be completed or send an email to a customer.</p>
                <p>Taking this approach means that processes that are normally manual in nature, and that are often paper based, can be automated. This allows team members to spend less time in meetings reviewing the action list, releasing valuable time to actually do the work. It helps avoid the spiral of frustration caused by a lack of progress on actions due to a lack of resources, which in turn is caused by the team drowning in paperwork, spreadsheets, emails and phone calls.</p>
                <p>Workflows of almost any type can be designed in a few clicks and, once implemented, they empower the team by automatically doing the assignment, monitoring and reporting as well as the escalation and prioritisation.</p>
                <p>For more information on how we can help you with all aspects of HACCP, contact us now. We are always happy to provide a free consultation or arrange a full demo of our software. Alternatively, visit our sister site to find out more about connected food safety: 
                  <a href="https://www.primority.com" target="_blank">www.primority.com</a>.</p>
            </div>

          <app-haccp-testimonials></app-haccp-testimonials>
        </div>
      <app-haccp-contact-us-form></app-haccp-contact-us-form>
    </div>
</section>