<div class="testiSliderBox">
    <h1 class="testiSliderTitle">What Customers Says</h1>
    <div class="testiSlider" id="testiSlider">
        <div class="testSliderItem">
            <div class="testSliderMedia">
                <div class="testSliderImage" style="background: url(./images/t5.PNG);"></div>
                <div class="testSliderName">Angila Macro</div>
                <div class="testSliderDesi">(technical head)</div>
            </div>
            <div class="testSliderContent">
                <p>
                    <img class="leftquoto" src="./images/left-quoto.PNG" />
                    HACCP Management is core to the HACCP Now software system. It provides tried and
                    tested HACCP tools that help users produce internationally compliant HACCP
                    documentation quickly and effectively.
                    <img class="rightquoto" src="./images/right-quote.PNG" />
                </p>
            </div>
        </div>
        <div class="testSliderItem">
            <div class="testSliderMedia">
                <div class="testSliderImage" style="background: url(./images/t5.PNG);"></div>
                <div class="testSliderName">Angila Macro</div>
                <div class="testSliderDesi">(technical head)</div>
            </div>
            <div class="testSliderContent">
                <p>
                    <img class="leftquoto" src="./images/left-quoto.PNG" />
                    HACCP Management is core to the HACCP Now software system. It provides tried and
                    tested HACCP tools that help users produce internationally compliant HACCP
                    documentation quickly and effectively.
                    <img class="rightquoto" src="./images/right-quote.PNG" />
                </p>
            </div>
        </div>
        <div class="testSliderItem">
            <div class="testSliderMedia">
                <div class="testSliderImage" style="background: url(./images/t5.PNG);"></div>
                <div class="testSliderName">Angila Macro</div>
                <div class="testSliderDesi">(technical head)</div>
            </div>
            <div class="testSliderContent">
                <p>
                    <img class="leftquoto" src="./images/left-quoto.PNG" />
                    HACCP Management is core to the HACCP Now software system. It provides tried and
                    tested HACCP tools that help users produce internationally compliant HACCP
                    documentation quickly and effectively.
                    <img class="rightquoto" src="./images/right-quote.PNG" />
                </p>
            </div>
        </div>
    </div>
</div>