<div class="mgtCatRow">
    <div class="mgtCatSlider" id="mgtCatSlider">
        <div class="mgtCatCol">
            <a href="/dashboard-food-safety" [ngClass]="{'mgtColLink-active':moduleID==='1'}" 
            class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-dashboard"></i>
                <span class="mgtColLinkText">Dashboard</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/haccp-management" [ngClass]="{'mgtColLink-active':moduleID==='2'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-warning"></i>
                <span class="mgtColLinkText">HACCP Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/document-management" [ngClass]="{'mgtColLink-active':moduleID==='3'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-files-o"></i>
                <span class="mgtColLinkText">Document Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/action-management" [ngClass]="{'mgtColLink-active':moduleID==='4'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-sort-amount-asc"></i>
                <span class="mgtColLinkText">Action Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/workflow-management" [ngClass]="{'mgtColLink-active':moduleID==='5'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-users"></i>
                <span class="mgtColLinkText">Workflow Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/supplier-management" [ngClass]="{'mgtColLink-active':moduleID==='6'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-truck"></i>
                <span class="mgtColLinkText">Supplier Management </span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/raw-material-control" [ngClass]="{'mgtColLink-active':moduleID==='7'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-stack-overflow"></i>
                <span class="mgtColLinkText">Raw Material Control</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/traceability" [ngClass]="{'mgtColLink-active':moduleID==='8'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-barcode"></i>
                <span class="mgtColLinkText">Traceability</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/product-specification" [ngClass]="{'mgtColLink-active':moduleID==='9'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-cutlery"></i>
                <span class="mgtColLinkText">Product Specification</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/audit-management" [ngClass]="{'mgtColLink-active':moduleID==='10'}" class="mgtColLink ">
                <i class="mgtColLinkMedia fa fa-tablet"></i>
                <span class="mgtColLinkText">Audit Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/electronic-data-capture" [ngClass]="{'mgtColLink-active':moduleID==='11'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-laptop"></i>
                <span class="mgtColLinkText">Electronic Data Capture</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/training-e-learning" [ngClass]="{'mgtColLink-active':moduleID==='12'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-graduation-cap"></i>
                <span class="mgtColLinkText">Training &#038; E-Learning</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/task-scheduling" [ngClass]="{'mgtColLink-active':moduleID==='13'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-calendar"></i>
                <span class="mgtColLinkText">Task Scheduling</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/cleaning-management" [ngClass]="{'mgtColLink-active':moduleID==='14'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-bitbucket"></i>
                <span class="mgtColLinkText">Cleaning Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/risk-management" [ngClass]="{'mgtColLink-active':moduleID==='15'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-warning"></i>
                <span class="mgtColLinkText">Risk Management</span>
            </a>
        </div>
        <div class="mgtCatCol">
            <a href="/reports" [ngClass]="{'mgtColLink-active':moduleID==='16'}" class="mgtColLink">
                <i class="mgtColLinkMedia fa fa-bar-chart-o"></i>
                <span class="mgtColLinkText">Reports</span>
            </a>
        </div>
    </div>
</div>