<section class="app-page-banner-wrapper">
    <section class="app-page-banner">
        <div class="vs-container-flex">
            <div class="bannerText">
                <div class="bannerMedia"><i class="fa fa-warning"></i></div>
                <div class="bannerContent">
                    <div class="bannerContent__title">{{title}}</div>
                    <div class="bannerContent__desc">Food Safety Management System</div>
                </div>
            </div>
        </div>
    </section>
</section>