  <!--start footer-->
  <footer id="contactus">
    <div class="footer-top">
        <div class="vs-container">
            <div class="footer-row">
                <div class="footer-box wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="footer-title">About Primority </div>
                    <p>Primority Ltd is a company registered </p>
                    <p>in the UK that operates globally.</p>
                    <p>Registered at:</p>
                    <p>50 Williamson's Quay</p>
                    <p>Kirkcaldy, Fife</p>
                    <p>Scotland, UK, KY1 1JS</p>
                    <p>UK registration number SC389942.</p>

                </div>
                <div class="footer-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="footer-title">Get In Touch</div>
                    <div class="footer-logo"><img src="./assets/images/logo.png" /></div>
                    <a class="footer-links" href="#">Tel: +447598451892</a>
                    <a class="footer-links" href="#">USA: +1 (415) 871 0682</a>
                    <a class="footer-links" href="#">Contact Us</a>
                </div>

                <div class="footer-box wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="footer-title">Subscribe Newslatter</div>
                    <form method="POST" action="">
                        <input type="text" placeholder="Enter Email Address" class="subsInput" />
                        <button class="subsBtn" type="submit">Subscribe</button>
                    </form>
                    <div class="header-social vs-flex vs-items-center">
                        <a class="header-sociallink vs-mid" href="#" title="FaceBook">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                        <a class="header-sociallink vs-mid" href="#" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="header-sociallink vs-mid" href="#" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="header-sociallink vs-mid" href="#" title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="vs-container-flex vs-items-center vs-space-between">
            <div class="copyright">Copyright:  All content published on this web site is copyright Primority Ltd
                unless otherwise stated. © 2018, all rights reserved.</div>
            <div class="footer-bottom-link vs-flex vs-items-center">
                <a href="#">Term and Conditions</a>
                <span class="seprator">|</span>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->