<div class="mgtContent-right">
    <div class="demo-part">
        <h2>Arrange A Demo</h2>
        <p>Let us show you the power of 3iVerify, arrange a free online demonstration to learn how we
            can help you</p>
    </div>
    <div class="form-heading">Contact Us</div>
    <form>
        <div class="auth-form-container">
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">First Name</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Last Name</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Company / Organisation</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Job Title</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Email Id</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Telephone Number</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>

            <div class="auth-form-control">
                <div class="auth-form-field">
                    <select class="auth-field-control">
                        <option></option>
                        <option>Select</option>
                    </select>
                    <label class="auth-field-label transition">Country</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>

            <div class="auth-form-control">
                <div class="auth-form-field">
                    <textarea class="auth-field-control"></textarea>
                    <label class="auth-field-label transition">Message</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>

            <div class="full-width-btn">
                <button class="submit-btn" type="submit">
                    Send
                </button>
            </div>

            <div class="emilPrivacy">
                <a href="#">We respect your email privacy</a>
            </div>
        </div>
    </form>
</div>