  <!--Start Header-->
  <section class="topHeader">
    <div class="vs-container-flex">
        <div class="header-social vs-flex vs-items-center">
            <a class="header-sociallink vs-mid" href="#" title="FaceBook">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a class="header-sociallink vs-mid" href="#" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="header-sociallink vs-mid" href="#" title="Google Plus">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="header-sociallink vs-mid" href="#" title="Linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="header-account">
            <div class="account-profile vs-flex vs-items-center">
                <div class="account-profile-icon vs-mid"><i class="fa fa-user"></i></div>
                <div class="account-profile-text">My Account</div>
                <i class="fa fa-angle-down"></i>
            </div>
            <div class="account-profile-box transition" id="dropdown-account">
                <div class="account-profile-inner">
                    <div class="account-profile-header">
                        <div class="account-profile-name">Amardeep Kumar</div>
                        <div class="account-profile-email">Amardeep@expam.com</div>
                    </div>
                    <div class="account-profile-body">
                        <a class="account-link" href="#">My Profile</a>
                        <a class="account-link" href="#">Setting</a>
                        <a class="account-link" href="#">Notification</a>
                        <a class="account-link" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<header class="app-header">
    <div class="vs-container">
        <div class="header-row">
            <div class="header-row__left flex-1">
                <a href="/" id="logo-brand" class="logo"><img src="./assets/images/logo.png" alt="logo" /></a>
            </div>


            <div class="header-nav">
                <ul class="nav-list">
                    <li class="mobileHadader">
                        <div class="mobileLogo"><img src="./assets/images/logo.png" alt="logo" /></div>
                        <div class="mobileClose">X Close</div>
                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-link">Company<i class="fa fa-angle-down"></i></a>

                        <div class="submenu-container transition">

                            <ul class="submenu">
                                <li class="submenu-list"><a class="submenuLink" href="#">About Us</a></li>
                                <li class="submenu-list"><a class="submenuLink" href="contactus.html">Contact Us</a></li>
                            </ul>
                        </div>

                    </li>
                    <li class="nav-list-item">
                        <a href="#" class="nav-link">Food Safety Modules <i
                                class="fa fa-angle-down"></i></a>
                        <div class="submenu-container transition">

                            <ul class="submenu">
                                <li class="submenu-list"><a class="submenuLink" href="/dashboard-food-safety">Food safety
                                        Management</a></li>
                                <li class="submenu-list"><a class="submenuLink" href="#">Pricing</a></li>
                                <li class="submenu-list"><a class="submenuLink" href="#">Webinars</a></li>
                                <li class="submenu-list"><a class="submenuLink" href="#">Our Customers</a>
                                </li>
                                <li class="submenu-list"><a class="submenuLink" href="#">Blogs</a></li>
                                <li class="submenu-list"><a class="submenuLink" href="#">Team</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>
                <span class="menuicon"><i class="fa fa-bars"></i></span>
            </div>
        </div>
    </div>
</header>
<!--End Header-->