 <!--Start Banner-->
 <section class="app-banner" id="home">
    <!--Start Header-->
  <app-haccp-header></app-haccp-header>
    <!--End Header-->

    <!--Start Slider-->
    <div class="slider-container">
        <div class="vs-slider" id="vs-slider">
            <div class="sliderItem" style="background: url('./assets/images/banner1.jpg')">
                <div class="sliderItem-bg"></div>
                <div class="sliderText">
                    <div class="sliderTitle wow fadeInUp" data-wow-delay=".3s">HACCP <span>Software</span></div>
                    <div class="sliderDesc wow fadeInUp" data-wow-delay=".3s">Easy to use low cost HACCP based
                        food safty management system</div>
                    <div class="sliderBtn">
                        <a class="tc-btn-container wow fadeInUp" href="#" data-wow-delay=".3s">
                            <span class="mainBtn tc-btn-primary tc-btn-primary-1 transition">
                                <span class="mainBtn__text transition">Register Now</span>
                            </span>

                            <span class="mainBtn tc-btn-primary tc-btn-primary-2 transition">
                                <span class="mainBtn__text-1 transition">Register Now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sliderItem" style="background: url('./assets/images/banner2.jpg')">
                <div class="sliderItem-bg"></div>
                <div class="sliderText">
                    <div class="sliderTitle wow fadeInUp" data-wow-delay=".3s"><span>HACCP</span> Software</div>
                    <div class="sliderDesc wow fadeInUp" data-wow-delay=".3s">Easy to use low cost HACCP based
                        food safty management system</div>
                    <div class="sliderBtn">
                        <a class="tc-btn-container wow fadeInUp" href="#" data-wow-delay=".3s">
                            <span class="mainBtn tc-btn-primary tc-btn-primary-1 transition">
                                <span class="mainBtn__text transition">Register Now</span>
                            </span>

                            <span class="mainBtn tc-btn-primary tc-btn-primary-2 transition">
                                <span class="mainBtn__text-1 transition">Register Now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--End Slider-->

</section>
<!--End Banner-->

<!--Start Truested Leaders-->
<section class="p-section trustedSection">
    <div class="vs-container">
        <div class="main--title  wow fadeInUp" data-wow-delay=".3s">Trusted By Industry Leaders</div>
        <div class="main--desc  wow fadeInUp" data-wow-delay=".3s">
            We specialise in helping food manufacturers, importers and processors digitise and improve their
            food safety management systems. 3iVerify is trusted by industry leaders to create an efficient and
            high quality food safety system.
        </div>
        <div class="trustedLogo  wow fadeInUp" data-wow-delay=".3s">
            <a href="#" class="trusted-item">
                <img class="transition" src="./assets/images/t1.jpg" alt="t" />
            </a>
            <a href="#" class="trusted-item">
                <img class="transition" src="./assets/images/t2.jpg" alt="t" />
            </a>
            <a href="#" class="trusted-item">
                <img class="transition" src="./assets/images/t3.png" alt="t" />
            </a>
            <a href="#" class="trusted-item">
                <img class="transition" src="./assets/images/t4.png" alt="t" />
            </a>
        </div>
    </div>
</section>
<!--End Truested Leaders-->
<!--Start food safety solution-->
<section class="foodSaftySection">
    <section class="p-section foodSaftySection2">
        <div class="vs-container">
            <div class="main--title main--title--white  wow fadeInUp" data-wow-delay=".3s">Trusted By Industry
                Leaders</div>
            <div class="main--desc main--desc--white  wow fadeInUp" data-wow-delay=".3s">
                A full food safety & quality management system, all in one software package. Click each module
                below to learn how our software can help improve your food safety processes.
            </div>
            <div class="food-row  wow fadeInUp" data-wow-delay=".3s">
                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-dashboard"></i>
                                </div>
                                <div class="food-item-title">Dashboard</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Dashboard</h3>
                                <p>Understand what food safety, quality and technical tasks need done and by
                                    whom.
                                    Instantly!</p>
                                <a href="/dashboard-food-safety" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-warning"></i>
                                </div>
                                <div class="food-item-title">HACCP Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>HACCP Management</h3>
                                <p>HACCP tools linked to standards, documents and data.</p>
                                <a href="/haccp-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-files-o"></i>
                                </div>
                                <div class="food-item-title">Document Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Document Management</h3>
                                <p>Collaborate on food safety documentation anywhere, any time.</p>
                                <a href="/document-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-sort-amount-asc"></i>
                                </div>
                                <div class="food-item-title">Action Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Action Management</h3>
                                <p>Manage corrective and preventive actions, risks and actions as a team.</p>
                                <a href="/action-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="food-item-title">Workflow Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Workflow Management</h3>
                                <p>Save time and admin by automating important workflow actions and tasks.</p>
                                <a href="/workflow-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-truck "></i>
                                </div>
                                <div class="food-item-title">Supplier Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Supplier Management</h3>
                                <p>Easily manage supplier audits, questionnaires, and certification records.</p>
                                <a href="/supplier-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-stack-overflow"></i>
                                </div>
                                <div class="food-item-title">Raw Material Control</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Raw Material Control</h3>
                                <p>Automate raw material technical & assurance data aquisition.</p>
                                <a href="/raw-material-control" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-barcode "></i>
                                </div>
                                <div class="food-item-title">Traceability</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Traceability</h3>
                                <p>[Coming soon!] Track and trace all raw materials and finished products in
                                    your HACCP plan.</p>
                                <a href="/traceability" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-cutlery"></i>
                                </div>
                                <div class="food-item-title">Product Specification</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Product Specification</h3>
                                <p>Create professional product specification documents in minutes.</p>
                                <a href="/product-specification" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-tablet"></i>
                                </div>
                                <div class="food-item-title">Audit Management</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Audit Management</h3>
                                <p>Carry out internal and supplier audits and track all issues through to sign
                                    off.</p>
                                <a href="/audit-management" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-laptop "></i>
                                </div>
                                <div class="food-item-title">Electronic Data Capture</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Electronic Data Capture</h3>
                                <p>Create electronic forms to capture live HACCP, Quality and Food Safety data.
                                </p>
                                <a href="/electronic-data-capture" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-col">
                    <div class="food-item">
                        <div class="food-item-front">
                            <div class="food-item-front-content">
                                <div class="food-item-icon">
                                    <i class="fa fa-graduation-cap "></i>
                                </div>
                                <div class="food-item-title">Training & E-Learning</div>
                            </div>
                        </div>
                        <div class="food-item-back">
                            <div class="food-item-back-content">
                                <h3>Training & E-Learning</h3>
                                <p>Use HACCP Now to train staff, track training results and issue certificates.
                                </p>
                                <a href="/training-e-learning" class="food-item-btn">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--End food safety solution-->

<!--Why Primority-->
<section class="p-section whyPrimority">
    <div class="main--title  wow fadeInUp" data-wow-delay=".2s">Why Primority?</div>
    <div class="whyPrimoritybox wow fadeInUp" data-wow-delay=".4s">
        <div class="whyPrimoritybox-title  wow fadeInUp" data-wow-delay=".4s">Food Safety Management Software
            Built By Food Safety Experts</div>
        <p>Most food safety software solutions are built by software developers who have little, or no,
            experience in day-to-day food safety management scenarios. Primority was founded by food safety
            experts who understand food industry needs and its pain points.</p>
        <p>The Primority approach is to innovate, using cutting edge technologies such as Artificial
            Intelligence (AI), blockchain and digital ledger technology (DLT). Our focus is on automating time
            consuming and costly food safety and compliance tasks in an easy to
            use way that allows our customers to reduce food safety and quality risks and administration costs.
        </p>
        <p class="boldItelic">Our software solution was tailored built for food safety experts by food safety
            experts.

        </p>
    </div>
    <div class="p-form">
        <div class="auth-form-row">
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">First Name</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Last Name</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Email</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
        </div>
        <div class="auth-form-row">
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Company / Organisation</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <input type="text" class="auth-field-control" />
                    <label class="auth-field-label transition">Job Title</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
            <div class="auth-form-form-control">
                <div class="auth-form-field">
                    <select class="auth-field-control">
                        <option></option>
                        <option>Select</option>
                    </select>
                    <label class="auth-field-label transition">Country</label>
                </div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
        </div>
        <div class="checkbox-selection">
            <div class="checlbox-title">Please Select Your Main Requirements</div>
            <div class="checkbox-box">
                <div class="checkbox-row">
                    <input type="checkbox" class="checkbox" id="01" />
                    <label for="01" class="checkbox-label">Paperless Document Management</label>
                </div>
                <div class="checkbox-row">
                    <input type="checkbox" class="checkbox" id="02" />
                    <label for="02" class="checkbox-label">Digital Forms and Questionnaires</label>
                </div>
                <div class="checkbox-row">
                    <input type="checkbox" class="checkbox" id="03" />
                    <label for="03" class="checkbox-label">Automated Supplier Approvals</label>
                </div>
                <div class="checkbox-row">
                    <input type="checkbox" class="checkbox" id="04" />
                    <label for="04" class="checkbox-label">Ai Supplier Monitoring</label>
                </div>
                <div class="checkbox-row">
                    <input type="checkbox" class="checkbox" id="05" />
                    <label for="05" class="checkbox-label">CAPA Management</label>
                </div>
            </div>
        </div>
        <div class="auth-form-row">
            <div class="auth-form-form-control fullwidth">
                <div class="auth-form-field">
                    <textarea class="auth-field-control"></textarea>
                    <label class="auth-field-label transition">Message</label>
                </div>
                <div class="noteform">Message: (Ask us a question or tell us what you need)</div>
                <div class="auth-form-field-error" style="display: none;">Required field</div>
            </div>
        </div>
        <div class="submit-btn-row">
            <button class="submit-btn" type="submit">
                Submit
            </button>
        </div>
    </div>
</section>
<!--Why Primority-->